<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/css/burger.css" type="text/css">
		<link rel="stylesheet" href="/assets/css/materialize.min.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700" rel="stylesheet">
		
		<title>Ben's Bad Boy Burger</title>
	</head>
	<body>
		{{{ body }}}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
      	<script type="text/javascript" src="/assets/js/materialize.min.js"></script>
	</body>
</HTML>